titanium.platform=/Users/astjohn/Library/Application Support/Titanium/mobilesdk/osx/3.2.2.GA/android
android.platform=/usr/local/Cellar/android-sdk/22.2.1/platforms/android-10
google.apis=/usr/local/Cellar/android-sdk/22.2.1/add-ons/addon-google_apis-google-10